.calculator__main__container {
    border: 4px solid var(--main-border-color);
    border-radius: var(--main-border-radius);
    background-color: #008080;
}

.bet__type__container {
    display: grid;
    grid-template-columns: 1fr;
    padding: var(--padding-standard);
}

.calculator__form {
    background-color: #ffa500;
    display: flex;
    gap: 1rem;
    font-weight: 600;
    padding: var(--padding-small) 0;
}

#refundBet, #qualifyingBet, #freeBet, #freeBetSR {
    margin-left: 0.6rem;
}

/* INPUTS FOR BET VALUES */
.calculator__inputs {
    padding: var(--padding-standard);
    display: grid;
    gap: 1rem;
    background-color: orange;
    border-top: 1px solid black;
    border-bottom: 2px solid black;

}
.calculator__inputs input {
    background-color: white;
    padding: var(--padding-small);
    border: none;
    font-size: 1.8rem;
    max-width: 150px;
    border: 1px solid black;
}

.calculator__inputs label {
    font-size: var(--font-size-medium);
}


.backbet__container {
    background-color: var(--nav-background-color);
    padding: 0.4rem;
}

.laybet__container {
    padding: 0.4rem;
}

.laystake__container{
    background-color: teal;
    display: grid;
    padding: var(--padding-standard);

}

.results__container {
    padding: var(--padding-standard);
    border-bottom-left-radius: var(--main-border-radius);
    border-bottom-right-radius: var(--main-border-radius);

}

.results__table {
    padding: var(--padding-standard);
}

.table__row > * {
    padding: var(--padding-small);
    border: 1px solid var(--main-border-color);
} 

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
}