.stage__container {
    background-color: var(--alt-background-color);
    padding: var(--padding-small);
    border: 2px solid var(--main-border-color);
    border-radius: var(--main-border-radius);
    margin-bottom: 1.5rem;
    height: fit-content;
}

.stage__title__container {
    width: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.stage__info__container {
    padding: 0.4rem;
}

.banking__container {
    border-radius: var(--main-border-radius);
    background-color: pink;
    border: 2px solid black;
    display: flex;
    gap: 3rem;
    padding: 1rem;
    justify-content: space-evenly;
    position: relative;
}

.bank__container {
    border: 2px solid var(--main-border-color);
    width: fit-content;
    right: 20px;
    top: 20px;
    background-color: whitesmoke;
    padding: 0.4rem;
}

.mock__website__container {
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    padding: 0.2rem;
    gap: 0.2rem;
    min-height: 500px;
}

.betData__container {
    border: 2px solid var(--main-border-color);
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    padding: 0.4rem;
}

.odds__list__item {
    display: grid;
    grid-auto-flow: column;
    gap: 0.4rem;
}

.horse__container {
    display: grid;
    padding: 0.4rem;

}

.racing__event__container {
    border: 2px solid var(--main-border-color);

}

.race__title {
    margin-bottom: 0.4rem;
    padding: 0.4rem;
}

.second__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
}

.odds_cont {
    display: grid;
    grid-auto-flow: column;
}

.inplay__bets__container {
    
}