/* MAIN PAGE CONTAINERS */

.home__header__container {
    margin-top: var(--padding-large);
    padding: var(--padding-standard);
    width: 100%;
    max-width: 100vw;
    max-height: 90vh;

}

.home__header__content {
    width: 100%;
    max-width: 100%;
    height: 75vh;
    border: 4px solid teal;

    display: grid;
    grid-template-areas: 
        "title img"
        "info img";
        grid-template-rows:1fr 1fr;
        grid-template-columns: 1fr 1fr;

}

/* TITLE AND CONTAINER */
.home__header__tc {
    background-color: orange;
    grid-area: title;
    display: grid;
    place-content: center;
    width: 100%
}

.home__header__title {
    font-style: italic;
    font-weight: 800;
    width: 100%;
    display: grid;
    margin-left: 2rem;
    font-size: var(--font-size-large);
}

/* PARAGRAPH AND CONTAINER  */
.home__header__pc {
    grid-area: info;
    display: grid;
    place-content: center;
    background-color: teal;
    padding: var(--padding-standard);
}

.home__header__paragraph {
    padding: var(--padding-standard);

    background-color: rgba(192, 192, 192, 0.418);
    color: var(--main-font-color);
    border-radius: var(--main-border-radius);
    width: fit-content;
    max-width: 50rem;
}

/* IMAGES AND CONTAINER */
.home__header__images {
    grid-area: img;
    background-color: aqua;
    width:100%;
    height:100%;
}

.home__header__image {
    width:100%;
    height:100%;   

}

/*  */
/* MAIN CONTAINER */
/*  */

.home__main__container {
    margin-top: var(--padding-large);
    width: 100%;
    padding: var(--padding-standard);
    max-width: 100vw;
}